<h1>Forums#showy</h1>
<p>Find me in app/views/forums/showy.html.erb</p>

<script src="app/assets/javascripts/forum_showy_display_posts2.js"></script>

<script src="app/assets/javascripts/forum_showy_delete_button_code.js"></script>

<script src="app/assets/javascripts/forum_showy_edit_button_code.js"></script>

<script src="app/assets/javascripts/forum_showy_cancel_button_code.js"></script>

<script src="app/assets/javascripts/forum_showy_submit_button_code.js"></script>

<script src="app/assets/javascripts/forum_showy_save_changes_button_code.js"></script>

<script src="app/assets/javascripts/forum_showy_reply_button_code.js"></script>

<script src="app/assets/javascripts/forum_showy_reply_save_button_code.js"></script>


<% if session[:user_name] %>
	signed in as: <%= session[:user_name] %>
<% else %>
	<p>not signed in</p>
<% end %>

<br><br>
title:" <%= @forum.title %> "
<br><br><br>


<!-- if this works, then use params to pass the sub_keddit_name and forum title to run (need to look up how exactly) -->
<% if session[:user_name] %>
	<textarea rows="6" cols="35" id = "show_forum_text_box"></textarea>
	<br>

	<input name="commit" type="submit" id="show_forum_post_button" value="submit post">
	


<% else %>
	<p id = "user_greeting_not_signed_in"> sign in to post </p>
<% end %>


<p id = "commenters_posts"></p>


<script>

	//var sub_keddit_name = "<%= escape_javascript(params[:sub_keddit_name]) %>";	


	// $(document).on("click", "#show_forum_post_button", function(){

	//   	delete_this_comment("#show_forum_text_box",sub_keddit_name,forum_unique_num,forum_title);

	// });


$(document).ready(function(){

	

	var sql_post_output = <%= @posts.to_json.html_safe %>;

	//console.log(sql_post_output);

	initial_display(sql_post_output);


	$(document).on("click", "#show_forum_post_button", function(){

		console.log("saw the click");

		var sub_keddit_name = "<%= params[:sub_keddit_name] %>";	

		var forum_unique_num = <%= params[:forum_unique_num] %>;

		var forum_title = "<%= params[:forum_title] %>";

	  	post_submission2("#show_forum_text_box",sub_keddit_name,forum_unique_num,forum_title);

	});	

//  function delete_this_comment(delButton,userName,subKedditName,forumUniqueNum,forumTitle){

	$(document).on("click", ".delete_comment", function(){
	  //console.log(this);

	  	var userName = "<%= session[:user_name] %>";

		var sub_keddit_name = "<%= params[:sub_keddit_name] %>";	

		var forum_unique_num = <%= params[:forum_unique_num] %>;

		var forum_title = "<%= params[:forum_title] %>";

	    console.log("see click for delete_comment");

	    delete_this_comment(this,userName,sub_keddit_name,forum_unique_num,forum_title);
	});


// otherUsers_user_name
// otherUsers_post_id_rel_to_user (get from comment)
// user_name
// sub_keddit_name
// forum_unique_num
// forum_title
// submission (the post itself)

	//clicked the save-reply button for reply
	$(document).on("click", "#S_reply", function(){

	  	console.log("33see click for reply_to_comment");

	  	var userName = "<%= session[:user_name] %>";

		var sub_keddit_name = "<%= params[:sub_keddit_name] %>";	

		var forum_unique_num = <%= params[:forum_unique_num] %>;

		var forum_title = "<%= params[:forum_title] %>";

	//reply_save_comment(this ,userName, subKedditName, forumUniqueNum, forumTitle);

		console.log("this is: ");
		console.log(this);

	  reply_save_comment(this,userName,sub_keddit_name,forum_unique_num,forum_title);

	});


	$(document).on("click", ".reply_to_comment", function(){

		var userName = "<%= session[:user_name] %>";

	  console.log("see click for reply_to_comment");
	  console.log(this);

		var sub_keddit_name = "<%= params[:sub_keddit_name] %>";	

		var forum_unique_num = <%= params[:forum_unique_num] %>;//number. So not a string. 

		var forum_title = "<%= params[:forum_title] %>";

		//gets whole comment and user name. takes us to forum_showy_reply_button_code.js
	    reply_to_this_comment(this,userName);
	});


});

//--------------------------------------------------------------


function initial_display(posts){

	console.log("getting into initial_display------ ");

  if(posts.length > 0){

    for(var post of posts){

    	post_body(post);
    }
  }
  else{
      console.log("getting here");
      $( "body" ).append("<p ><font color='red'>Sorry.There doesn't appear to be anything here.</font></p>");

    }

}

// function getNumber_from_div(htmlEl){

//   var string = htmlEl.id;

//   var start = "comment_container_".length;//# of chars in 'comment_container_'

//   var end = string.length;

//   var num = parseInt(string.slice(start,end));

//   console.log("(getNumber_from_div) returning number " + num);

//   return num;
// }


//does the same as above (only shorter). untested
// function getID(string_seg,string){

//   return parseInt(string.slice(string_seg.length,string.length));
// }


</script>

