<h1>Users#front_page</h1>
<p>Find me in app/views/users/front_page.html.erb</p>

<% if session[:user_name] %>
	<p id = "user_greeting_signed_in"> hi <%= session[:user_name] %>!</p>
<% else %>
	<p id = "user_greeting_not_signed_in"> hello non signed in user! </p>
<% end %>


<%= link_to "sign in" , users_sign_in_path %>
<br>
<br>
<%= link_to "sign out" , users_sign_out_path %>
<br>
<br>
<%= link_to "sign up" , users_sign_up_path %>
<br>
<br>
<%= link_to "submit a link" , forums_new_url %>
<br>

<!-- this will take you to the list of avaiable subKeddits to view. will spit out an array of those subkeddits
before we get to the proper page.

-from here we should go to list_of_subKeddits.html.erb which will show us the list of subKeddits

-buttons on list_of_subKeddits.html.erb should be a button to that forum, which will be a list of forums -->
<br>
<%= link_to "see list of avaiable subKeddits!", :controller => :sub_keddits, :action => :list_of_subKeddits %>
<!--<%= link_to "see list of avaiable subKeddits!", :controller => :sub_keddits, :action => :list_of_subKeddits %>-->
<!--<%= link_to "see list of avaiable subKeddits!", sub_keddits_path, :method => 'list_of_subKeddits' %>-->

<% if session[:user_name] %>
	<p id = "testing_page_id"><%= link_to "testing page" , users_testing_page_path %></p>
<% end %>







