<!DOCTYPE html>
<html>
<head>
  <title>Keddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>





<body>


 <%= yield %>

<% if session[:user_name] %>
	<p id = "user_greeting_signed_in"> hi <%= session[:user_name] %> !</p>
<% else %>
	<p id = "user_greeting_not_signed_in"> hello non signed in user! </p>
<% end %>


 <%= yield :lower_body %>





</body>
</html>
